parameters:
    ignoreErrors:
        - '#Call to an undefined method Spryker\\Shared\\Kernel\\Transfer\\TransferInterface::getMessageAttributes\(\).#'
        - '#Parameter \#1 \$iterator of function iterator_to_array expects Traversable, iterable\<string, .*> given.#'
